<%= @dish.name %><br>
<%= @dish.description %>
<ul>
<% @dish.ingredients.each do |ingredient|%>
<li><%= ingredient.name %></li>
<% end %>
</ul>
<br>
Total Calories: <%= @dish.calories %>
<br>
Chef: <%= @dish.chef_name %>
<br>

Add Ingredients by ID
<br>
<%= form_with url: "/ingredient_dishes", method: :post, local: true do |form|%>
  <%= form.label :ingredient_id %>
  <%= form.text_field :ingredient_id %>
  <%= form.hidden_field :dish_id, value: @dish.id %>
  <%= form.submit "Add" %>
<% end %>